cmd/server/cache.rdb
cmd/server/cache.aof
internal/persistence/bench_test_*
cmd/data/*
server.exe
cache.aof
cache.rdb
pkg/client/python/__pycache__
pkg/client/python/gocache/__pycache__
pkg/client/python/.venv
dist/
*.whl
*.tar.gz
*.egg-info/